<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Seats</title>
</head>
<body>
    <form [formGroup]="form">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div>
            <label for="phone">Phone Number: </label>
            <input type="number" name="phone" id="phone" formControlName="phone">
        </div>
        <div>
            <label for="seats">Your Seats: </label>
            <span name="seats" id="seats">{{BookedSeats}}</span>
        </div>
        <div>
            <label for="totalPrice">Total Price: </label>
            <span name="totalPrice" id="totalPrice">{{TotalAmount}}</span>
        </div>
        <div>
            <button type="button" [disabled]="form.invalid" (click)="booked()">Pay Now</button>
        </div>
    </form>
</body>
</html>